# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3

# Environment variables
.env

# Docker
.dockerignore

# PyCharm
.idea/

# Migrations (опционально - можно оставить)
# */migrations/

# Coverage
.coverage
htmlcov/